<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>zeplin</title>

    <style>
        img {
            margin: 0
        }

        .imageRow {
            display: flex;
        }
    </style>
</head>

<body>
    <div id="content"></div>
</body>

</html>